<!-- profile.html -->
{% extends 'base.html' %}

{% block title %}Профиль{% endblock %}

{% block content %}
<div class="main">
    <main class="content px-3 py-2">
        <div class="container-fluid bg-custom">
        
      
                                        <h4>Қош келдіңіз, admin</h4>
                                       
                                   
            <!-- Кесте элементі -->
            <div class="card border-0">
                 <div class="card-body text-center">
                    <img src="https://timeweb.com/ru/community/article/77/77ed23fdd2ff6285a74ecdc35434edb4.jpg"  width="700" height="300" class="img-fluid rounded">
                </div>
            </div>
</div>


{% endblock %}
