<!DOCTYPE html>
<html lang="kk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Білім алушы ИИН</title>
</head>
<body>
    <div class="container">
        <h1>Білім алушы ретінде кіру</h1>
        <form method="POST">
            <label for="iin">ИИН:</label>
            <input type="text" name="iin" required>
            <button type="submit">Кіру</button>
        </form>
    </div>
</body>
</html>
