<!-- profile.html -->
{% extends 'tbase.html' %}

{% block title %}Профиль{% endblock %}

{% block content %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Оқытушы панелі</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>Оқытушы панелі</h1>
        <nav>
            <ul>
                <li><a href="{{ url_for('teacher_dashboard') }}">Басты бет</a></li>
                <li><a href="{{ url_for('logout') }}">Шығу</a></li>
            </ul>
        </nav>
    </header>
    
    <main>
        <h2>Қош келдіңіз, {{ current_user.username }}!</h2>
        <p>Бұл оқытушыларға арналған бет.</p>
        
        
    </main>
</body>
</html>
{% endblock %}
